body {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
  overflow-x: hidden !important; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden !important; }

article {
  font-family: 'Nunito', sans-serif; }

.header {
  background-image: url(../assets/img/elyawaya.jpg);
  background-attachment: fixed; }
  .header .navbar-nav {
    margin: 4px;
    position: sticky-top;
    color: colorDos;
    display: flex;
    justify-content: center;
    text-decoration: none; }
    .header .navbar-nav .navBar__logo {
      height: 70px; }
  .header nav {
    background-position: center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-size: 20px;
    text-align: center; }

.front {
  background-image: url(../assets/img/front.jpg);
  padding-top: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.header2 {
  background-image: url(../assets/img/supaddle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.header3 {
  background-image: url(../assets/img/elyfitness.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.header4 {
  background-image: url(../assets/img/ely4.jpg);
  padding-top: 50px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  text-align: center; }

.infoEly {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding-bottom: 100px;
  padding-top: 100px; }

.multimedia {
  display: grid;
  grid-template-columns: 630px 450px;
  grid-template-rows: 300px 300px;
  padding-left: 80px;
  grid-template-areas: "video1 imag3";
  grid-column-gap: 15px;
  background-color: lightgray; }

.informacion .informacion__descripcion {
  background-color: #b8bfbf; }

.vida-fitness {
  background-color: #9dabaa;
  padding: 30px; }

.slides2 {
  background-color: #b8bfbf; }

.slides3 {
  background-color: #b8bfbf;
  padding: 20px; }

.dropdown-actividades {
  background-image: url(../assets/img/beachyoga.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 50px; }

.textoImagenes {
  margin-top: 10px;
  align-items: center;
  text-align: center; }
  .textoImagenes img {
    padding: 40px; }

.textoImagenes2 {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  padding: 20px; }

.informacionClases {
  background-color: #9dabaa;
  margin-bottom: 50px; }

.informacionEly {
  background-color: #9dabaa;
  margin-bottom: 50px; }

.informacion__parrafo1 {
  text-align: center;
  padding-top: 20px; }

footer {
  background-color: #b8bfbf;
  margin: 1px; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #451457; }

h2 {
  font-weight: bold 700;
  font-size: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  background-color: white; }

h3 {
  font-size: 20px;
  font-weight: bold;
  color: #451457; }

p {
  font-size: 25px;
  color: #4d4252; }

.tituloGeneral {
  margin-top: 40px; }

.informacion__titulo1 {
  margin: 20px;
  padding: 10px; }

.informacion__parrafo2, .retiroSup {
  font-weight: bold;
  font-weight: 500;
  font-size: 25px;
  color: #451457;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px; }

.informacion__parrafo3 {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px; }

#perfilEly {
  line-height: 200%;
  font-style: italic; }

table {
  align-items: center;
  border: 1px; }

.retiroSup {
  background-color: #b8bfbf; }

#tablaActividades th {
  background-color: #9dabaa; }

#formulario {
  background-color: lightgray; }

.fitness-life {
  background-color: #d8e3e2;
  padding: 30px;
  font-size: 30px; }

.boton1 {
  /*display: grid;
     grid-template-columns:510px 750px;
     grid-template-rows: 120px 250px;
     grid-column-gap: 15px;
     grid-row-gap: 15px;
     grid-template-areas: "titulofit1 fit1", "parrafofit1 fit1";*/
  font-size: 30px;
  background-color: #b8bfbf;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  align-items: middle; }
  .boton1 .titulofit1 {
    font-size: 35px; }

.boton2 {
  /*display: grid;
     grid-template-columns:590px 710px;
     grid-template-rows: 120px 250px;
      grid-column-gap: 15px;
     grid-row-gap: 15px;
      grid-template-areas: "fit2 titulofit2", "fit2 parrafofit2";*/
  background-color: #b8bfbf;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  align-items: middle; }
  .boton2 .titulofit2 {
    font-size: 35px; }

.boton3 {
  /* display: grid;
     grid-template-columns:560px 700px;
     grid-template-rows: 120px 250px;
     grid-column-gap: 15px;
     grid-row-gap: 15px;
     grid-template-areas: "titulofit3 fit3", "parrafofit3 fit3";*/
  font-size: 30px;
  background-color: #b8bfbf;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
  align-items: middle; }
  .boton3 .titulofit3 {
    font-size: 35px; }

.dropdown {
  margin: 40px; }

.tituloGeneral {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 4.5rem;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 70px; }

.tituloGeneral2 {
  text-align: center;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 4rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

.texto2 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  color: white;
  margin-top: 30px;
  margin-bottom: 120px;
  background-color: rgba(99, 111, 117, 0.4);
  border-radius: 20px; }

#container {
  width: 100%;
  height: 330px; }

#part1 {
  width: 100%;
  height: 280px;
  background-color: lightgray; }

#part2 {
  width: 100%;
  height: 50px;
  background-color: gray;
  position: relative;
  top: -15px; }

#sitelink {
  font-size: 35px;
  color: #f44336; }

#sitelink:hover {
  color: #e65100; }

#title {
  color: gray;
  position: relative;
  top: 0px;
  font-size: 25px; }

#detail {
  color: #aaa7a7;
  font-size: 16px; }

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
  color: black;
  font-size: 20px; }

.link {
  display: flex;
  width: 90px;
  height: 40px;
  color: gray;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px; }

.link:hover,
.link1:hover {
  color: #e65100; }

.text {
  color: gray;
  font-size: 14px;
  margin-top: -10px; }

.link1 {
  display: flex;
  width: 150px;
  height: 40px;
  color: gray;
  background-color: transparent;
  border-top: 2px solid white;
  position: relative;
  top: -10px;
  margin-top: 7px; }

#email {
  color: white;
  position: relative;
  top: -20px; }

.btn {
  position: relative;
  top: -10px; }

#txt5 {
  position: relative;
  top: 0px; }

.social {
  position: relative;
  top: -5px;
  margin-right: 10px;
  color: white;
  cursor: pointer; }

.fa-facebook-square:hover {
  color: #3B579D; }

.fa-youtube-square:hover {
  color: #c4302b; }

.fa-instagram:hover {
  color: #e1306c; }

#txt6 {
  color: white;
  position: relative;
  top: 13px;
  left: 8%;
  width: 80%;
  color: #aaa7a7; }

.material-icons {
  position: relative;
  top: 3px; }

@media only screen and (max-width: 1000px) {
  #companyinfo {
    width: 20%; }
  #sitelink {
    font-size: 30px; }
  #txt5,
  #txt4 {
    font-size: 17px; }
  #txt5,
  .social {
    position: relative;
    top: -5px; } }

@media only screen and (max-width: 850px) {
  .tituloGeneral {
    font-size: 40px; }
    .tituloGeneral #txt6 {
      position: relative;
      left: 3%; }
    .tituloGeneral #txt1,
    .tituloGeneral #txt2,
    .tituloGeneral #txt3,
    .tituloGeneral #txt4,
    .tituloGeneral #txt5 {
      font-size: 15px; }
    .tituloGeneral #sitelink {
      font-size: 25px; }
    .tituloGeneral #detail {
      font-size: 13px; }
    .tituloGeneral .link {
      width: 60px; }
    .tituloGeneral .text {
      font-size: 13px; }
    .tituloGeneral #txt5,
    .tituloGeneral #email,
    .tituloGeneral .btn {
      position: relative;
      top: 0px; }
    .tituloGeneral #part1 {
      height: 250px; } }

@media only screen and (max-width: 850px) and (max-width: 550px) {
  .texto2 {
    margin: 20px; }
  .tituloGeneral {
    font-size: 40px; }
  #sitelink {
    font-size: 20px; }
  #txt6 {
    font-size: 16px; }
  #title {
    font-size: 15px; } }
