@import "colores";

body {
	font-family: 'Oswald', sans-serif; 
	margin: 5px;
    overflow-x: hidden !important;
}

html {
    scroll-behavior: smooth; 
    overflow-x: hidden !important;   
}


article{	
	font-family: 'Nunito', sans-serif;
}

.header {
	background-image: url(../assets/img/elyawaya.jpg);
    background-attachment: fixed;
		.navbar-nav {
		margin: 4px;
		position: sticky-top;
	    color: colorDos;
        display: flex;
		justify-content: center;
       	text-decoration: none;
			.navBar__logo {
				height: 70px;
			}
	}
	nav {
	 	background-position: center;
        display: flex;
        justify-content: center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-size: cover;
	 	font-size: 20px;
	 	text-align: center;
	 	
	 }
 }

.front {
	background-image: url(../assets/img/front.jpg);
    padding-top: 100px;
	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 20px;
	text-align: center;
}

.header2 {
	background-image: url(../assets/img/supaddle.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-size: 20px;
	text-align: center;
}

.header3 {
    background-image: url(../assets/img/elyfitness.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    text-align: center;
}

.header4 {
    background-image: url(../assets/img/ely4.jpg);
    padding-top: 50px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 20px;
    text-align: center;
}

.infoEly {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	padding-bottom: 100px;
    padding-top: 100px;
}

.multimedia {
	display: grid;
	grid-template-columns: 630px 450px;
	grid-template-rows: 300px 300px; 
	padding-left: 80px;
	grid-template-areas:
		"video1 imag3";
	grid-column-gap: 15px;
	background-color: lightgray;
}

.informacion {
	.informacion__descripcion {
		background-color: $colorDos;
	}
}

.vida-fitness {
        background-color: $colorCinco;
        padding: 30px;
}

.slides2 {
		background-color: $colorDos;
}

.slides3{
		background-color: $colorDos;
        padding: 20px;
}

.dropdown-actividades{
    background-image: url(../assets/img/beachyoga.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 50px;
}

.textoImagenes {
	margin-top: 10px;
	align-items: center;
	text-align: center;
	img {
	padding: 40px;
	}
}

.textoImagenes2 {
	margin-top: 10px;
	align-items: center;
	text-align: center;
	padding: 20px;
}

.informacionClases {
	background-color: $colorCinco;
	margin-bottom: 50px;
}

.informacionEly {
	background-color: $colorCinco;
	margin-bottom: 50px;
}
.informacion__parrafo1 {
	text-align: center;
	padding-top: 20px;
}

footer {
	background-color: $colorDos;
	margin: 1px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	color: $colorCuatro;
}

h2 {
	font-weight: bold 700;
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	background-color: white;
}

h3 {
	font-size: 20px;
	font-weight: bold;
	color: $colorCuatro;
}

p {
	font-size: 25px;
	color: rgb(77, 66, 82);	
}

.tituloGeneral {
	margin-top: 40px;
}

.informacion__titulo1 {
	margin: 20px;
    padding: 10px;
}

.informacion__parrafo2 {
	font-weight: bold; 
	font-weight: 500;
	font-size: 25px;
	color: $colorCuatro;
	text-align: center;
    padding-top: 20px;
    padding-left: 20px;
  }

.informacion__parrafo3 {
	font-weight: 500;
	font-size: 25px;
	text-align: center;
    padding-top: 20px;
    padding-left: 20px;
  }

#perfilEly {
	line-height:200%;
	font-style: italic;
}

table {
  	align-items: center;
 	border: 1px;
 }

.retiroSup {
	background-color: $colorDos;
	@extend .informacion__parrafo2;
}

 #tablaActividades th {
  	background-color: $colorCinco;
  	
  	
 }

#formulario	{
	background-color: $colorUno;
	
}

.fitness-life {
	background-color: $colorTres;
	padding: 30px;
	font-size: 30px;
}

.boton1{
    /*display: grid;
     grid-template-columns:510px 750px;
     grid-template-rows: 120px 250px;
     grid-column-gap: 15px;
     grid-row-gap: 15px;
     grid-template-areas: "titulofit1 fit1", "parrafofit1 fit1";*/
    font-size: 30px;
	background-color: $colorDos; 
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 40px;
	border-radius: 20px;
	align-items: middle;
     .titulofit1 {font-size: 35px;} 
}

.boton2{
    /*display: grid;
     grid-template-columns:590px 710px;
     grid-template-rows: 120px 250px;
      grid-column-gap: 15px;
     grid-row-gap: 15px;
      grid-template-areas: "fit2 titulofit2", "fit2 parrafofit2";*/
    background-color: $colorDos; 
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 20px;
    align-items: middle;
        .titulofit2 {font-size: 35px;} 
}

.boton3{
    /* display: grid;
     grid-template-columns:560px 700px;
     grid-template-rows: 120px 250px;
     grid-column-gap: 15px;
     grid-row-gap: 15px;
     grid-template-areas: "titulofit3 fit3", "parrafofit3 fit3";*/
    font-size: 30px;
    background-color: $colorDos; 
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 20px;
    align-items: middle;
     .titulofit3 {font-size: 35px;} 
}

.dropdown{
	margin: 40px;
}

.tituloGeneral{
	 font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	  font-size: 4.5rem;
	  line-height: 4rem;
	  letter-spacing: 0.8rem;
	  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
	  -webkit-text-fill-color: transparent;
	  -webkit-background-clip: text;
	          background-clip: text;
	  margin-top: 70px;
}

.tituloGeneral2{
    text-align: center;
     font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 2.5rem;
      line-height: 4rem;
      letter-spacing: 0.8rem;
      background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
              background-clip: text;
}
.texto2 {
	font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	  font-size: 20px;
	  color: white;
	  margin-top: 30px;
	  margin-bottom: 120px;
	  background-color: rgba(99, 111, 117, 0.4);
	  border-radius: 20px;
}



#container {
    width: 100%;
    height: 330px
}

#part1 {
    width: 100%;
    height: 280px;
    background-color: $colorUno;
}

#part2 {
    width: 100%;
    height: 50px;
    background-color: gray;
    position: relative;
    top: -15px
}

#sitelink {
    font-size: 35px;
    color: #f44336;
}

#sitelink:hover {
    color: #e65100
}

#title {
    color: gray;
    position: relative;
    top: 0px;
    font-size: 25px
}

#detail {
    color: #aaa7a7;
    font-size: 16px
}

#txt1,
#txt2,
#txt3,
#txt4,
#txt5 {
    color: black;
    font-size: 20px
}

.link {
    display: flex;
    width: 90px;
    height: 40px;
    color: gray;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    top: -10px
}

.link:hover,
.link1:hover {
    color: #e65100
}


.text {
    color: gray;
    font-size: 14px;
    margin-top: -10px
}

.link1 {
    display: flex;
    width: 150px;
    height: 40px;
    color: gray;
    background-color: transparent;
    border-top: 2px solid white;
    position: relative;
    top: -10px;
    margin-top: 7px
}

#email {
    color: white;
    position: relative;
    top: -20px
}

.btn {
    position: relative;
    top: -10px
}

#txt5 {
    position: relative;
    top: 0px
}

.social {
    position: relative;
    top: -5px;
    margin-right: 10px;
    color: white;
    cursor: pointer
}

.fa-facebook-square:hover {
    color: #3B579D
}

.fa-youtube-square:hover {
    color: #c4302b
}

.fa-instagram:hover {
    color: #e1306c
}

#txt6 {
    color: white;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;
    color: #aaa7a7
}

.material-icons {
    position: relative;
    top: 3px
}

@media only screen and (max-width:1000px) {
    #companyinfo {
        width: 20%
    }

    #sitelink {
        font-size: 30px
    }

    #txt5,
    #txt4 {
        font-size: 17px
    }

    #txt5,
    .social {
        position: relative;
        top: -5px
    }
}

@media only screen and (max-width:850px) {

    .tituloGeneral{
        font-size: 40px;

    #txt6 {
        position: relative;
        left: 3%
    }

    #txt1,
    #txt2,
    #txt3,
    #txt4,
    #txt5 {
        font-size: 15px
    }



    #sitelink {
        font-size: 25px
    }

    #detail {
        font-size: 13px
    }

    .link {
        width: 60px
    }


    .text {
        font-size: 13px
    }



    #txt5,


    #email,
    .btn {
        position: relative;
        top: 0px
    }

    #part1 {
        height: 250px
    }
}

@media only screen and (max-width:550px) {
   
    .texto2 {
        margin: 20px;
    }
    .tituloGeneral {
        font-size: 40px
    }
    #sitelink {
        font-size: 20px
    }
    #txt6 {
        font-size: 16px
    }
    
    #title {
        font-size: 15px
    }

   
}
}